.container{
  background: #141624;
  height:700px;
  width:1300px;
  position: relative;
  left: 140px;
}
.header{
  height:400px;
  width:800px;
  background-color: #261d38;
  position: relative;
  top:150px;
  left:250px;
  border-radius: 6px;
}
.grid{
  display: grid;
  grid-template-columns: 400px 400px;
}
.grid-main{
  display: grid;
  grid-template-rows: 133px 133px 133px;
  padding: 7% 15%;
  /* background-color: #261d38; */
}
h1{
  color: white;
}
span{
  color: violet;
}
.grid12{
  color: white;
  padding-top: 10px;
}
.grid13{
  color: white;
  display: grid;
  grid-auto-columns: auto auto auto;
}
.grid13 > .one{
  grid-area: 1/1/1/2;
}
.grid13 > .two{
  grid-area: 1/2/1/3;
}
.grid13 > .three{
grid-area: 1/3/1/4;
}
img{
  height: 400px;
  width: 400px;

border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
object-fit: cover;
  opacity: 0.5;
}

@media screen and (max-width:800px) {
  body
  {
    background: #141624;
    height:100%;
    width:100%;
    left: 440px;
    position: absolute;
    top:300px;
  }
  .header{
    height:1800px;

    max-width: 700px;
 margin: auto;
    background-color: #261d38;
    position: relative;
    border-radius: 6px;
    top: -200px;
  left: -30px;
  }
  .grid{

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 600px 1200px;
    position: relative;
    width: fit-content;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }
  .grid-main{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 70px;
  }
  .grid2{
    grid-area: 1/1/2/2;
    background-color: purple;
  }
  .grid11{
    grid-area: 1/1/2/2;
    text-align: center;
    font-size: 27px;
    text-align: center;
    /* padding-top: 20px;
    padding-left: 60px; */
  }
  .grid12{
    grid-area: 2/1/3/2;
    text-align: center;
    font-size: 30px;
    width: 90%;
    font-style: normal;
    text-align: center;
     padding-top: 120px;

     line-height: 45px;
    /* padding-left: 60px;  */
  }
  .grid13{
    grid-area: 3/1/4/2;
    display: grid;
    /* grid-template-columns: auto; */
    grid-template-rows: auto auto auto;
    grid-row-gap: 60px;

    padding-top: 250px;
    padding-left: 20px;

  }
  .grid13 > .one{
    grid-area: 1/2/2/3;
    font-size: 50px;
  }
  .grid13 > .two{
    grid-area: 2/2/3/3;
    font-size: 50px;
  }
  .grid13 > .three{
    grid-area: 3/2/4/3;
    font-size: 50px;
  }
  img{
    height: 600px;
    width: 700px;
    background-color: violet;
    opacity: 0.4;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;


  }

}
